.page[b-hflu1fb5qw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-hflu1fb5qw] {
    flex: 1;
}

.sidebar[b-hflu1fb5qw] {
    background-image: linear-gradient(
    180deg,
    #6E2A2E 0%,
    #5A1E24 55%,
    #44161B 100%);
}

.sidebar[b-hflu1fb5qw] {
    position: fixed;
    top: 0;
}

.top-row[b-hflu1fb5qw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 1.8rem;
    display: flex;
    align-items: center;
}

@media (min-width: 900px) {
    /* My Footer Styles */
    .footer[b-hflu1fb5qw] {
        background-color: #f7f7f7;
        border-top: 1px solid #d6d5d5;
        display: flex;
        justify-content: flex-end;
        align-items:end;
        height: 3.5rem;
        font-size: 0.75rem;
        padding: 20 20px;
        padding-left: 70%;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

@media (max-width: 640px) {
    .sidebar[b-hflu1fb5qw] {
        width: 100%;
    }
}

.top-row a[b-hflu1fb5qw] {
    color:#6E2A2E;
    font-size: 0.85rem;
}

    .top-row[b-hflu1fb5qw]  a, .top-row[b-hflu1fb5qw]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-hflu1fb5qw]  a:hover, .top-row[b-hflu1fb5qw]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-hflu1fb5qw]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-hflu1fb5qw] {
        justify-content: space-between;
    }

    .top-row[b-hflu1fb5qw]  a, .top-row[b-hflu1fb5qw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hflu1fb5qw] {
        flex-direction: row;
    }

    .sidebar[b-hflu1fb5qw] {
        width: 250px;
        height: auto;
        position: sticky;
        top: 0;
    }

    .top-row[b-hflu1fb5qw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-hflu1fb5qw]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-hflu1fb5qw], article[b-hflu1fb5qw] {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

@media (max-width: 700px) {    
    /* My Footer Styles On Mobile*/
    .footer[b-hflu1fb5qw]{
        background-color: #f7f7f7;
        text-align: center;
        height: 2rem;
        font-size: 0.6rem;
        width: 100%;
        padding-top: 10px;
    }
}

#blazor-error-ui[b-hflu1fb5qw] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#blazor-error-ui .dismiss[b-hflu1fb5qw] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


